.search-container {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 400px;
  margin-right: 40px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 25px;
}

.search-button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #f25d50; /* Default red */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease; /* Smooth transition */
}

.search-button img {
  width: 20px;
  height: 20px;
  filter: brightness(1); /* Normal brightness */
  transition: filter 0.3s ease;
}

/* Hover Effect */
.search-button:hover {
  background-color: #f98a7f; /* Lighter red */
}

.search-button:hover img {
  filter: brightness(1.2); /* Lighten the search icon */
}

.logo-and-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-left: 40px;
}

#pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
  padding: 80px 40px 80px;
  align-items: center;
  justify-content: center;
}

.pokemon-card {
  background-color: #1e1e2e;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  padding: 15px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.pokemon-card:hover {
  filter: brightness(1.2);
  transition: filter 0.3s ease-in-out;
}

.pokemon-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
  color: white;
}

.pokemon-image img {
  width: 100px;
  height: auto;
  margin: 10px 0;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.pokemon-image:hover {
  transform: scale(1.3);
}

.pokemon-types {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.type-icon {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  padding: 8px;
  background: rgba(255, 255, 255, 0.2);
  height: 64px;
  width: 64px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.type-icon:hover {
  transform: scale(1.2);
}

.bug-bg {
  background-color: #a8b820;
} /* Bug - Greenish */

.dark-bg {
  background-color: #705848;
} /* Dark - Dark Brown */

.dragon-bg {
  background-color: #7038f8;
} /* Dragon - Purple */

.electric-bg {
  background-color: #f8d030;
} /* Electric - Yellow */

.fairy-bg {
  background-color: #ee99ac;
} /* Fairy - Pink */

.fighting-bg {
  background-color: #c03028;
} /* Fighting - Red */

.fire-bg {
  background-color: #f08030;
} /* Fire - Orange */

.flying-bg {
  background-color: #a890f0;
} /* Flying - Light Purple */

.ghost-bg {
  background-color: #705898;
} /* Ghost - Dark Purple */

.grass-bg {
  background-color: #78c850;
} /* Grass - Green */

.ground-bg {
  background-color: #e0c068;
} /* Ground - Light Brown */

.ice-bg {
  background-color: #98d8d8;
} /* Ice - Cyan */

.normal-bg {
  background-color: #a8a878;
} /* Normal - Grey */

.poison-bg {
  background-color: #a040a0;
} /* Poison - Purple */

.psychic-bg {
  background-color: #f85888;
} /* Psychic - Pink */

.rock-bg {
  background-color: #b8a038;
} /* Rock - Brown */

.steel-bg {
  background-color: #b8b8d0;
} /* Steel - Metallic Grey */

.water-bg {
  background-color: #6890f0;
} /* Water - Blue */

.more-pokemons-button-container {
  width: 100%;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.footer-container {
  position: relative;
}

.more-pokemons-button {
  width: 100%;
  max-width: 100%;
  height: 60px;
  background-color: #d76555;
  border-radius: 12px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
}

.more-pokemons-button:hover {
  background-color: #f98a7f; /* Lighter red */
}
